.containerUl{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    justify-content: center;
    background-color: #555964;
    padding: 15px 0;
    margin: 0;
}

.containerUl li{
    width: 4;
    padding: 5px 10px;
    list-style-type: none;
}

.containerUl li button{
    font-size: 18px;
    cursor: pointer;
}